@import 'base/variables';
@import 'base/animations';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0; 
    padding: 0;
  }

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}

@import 'blocks/first-screen';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/sitters';
@import 'blocks/side-nav';
@import 'blocks/featured';
