.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
    padding-left: 350px;
    padding-top: 0;
    &__item {
        list-style-type: none;
        span {
            font-weight: 700;
            font-size: 20px;
        }
    }
    &__link {
        font-family: Roboto;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 300;
        line-height: 23px;
    }
}